@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-fmgm-blue: #002432;
  --color-fmgm-green: #377964;
  --color-fmgm-lime: #E1E049;
  --font-sans: 'Poppins', system-ui, sans-serif;
}

.prose {
  --tw-prose-body: var(--color-fmgm-blue);
  --tw-prose-headings: var(--color-fmgm-blue);
  --tw-prose-links: var(--color-fmgm-green);
  --tw-prose-bold: var(--color-fmgm-blue);
  --tw-prose-quotes: var(--color-fmgm-green);
  --tw-prose-quote-borders: var(--color-fmgm-lime);
}

.prose a:hover {
  color: var(--color-fmgm-lime);
}
